.sidenav{
    background-color: #d8d8d8;
    width: 150px;
}

.sidenav a{
    color: rgb(0, 0, 0);

}

.sidenav i {
    padding-right: 10px;

}
.content{
    padding: 16px;
    background-color: #ffff;
}